<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marcussjolin.money2020" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Money2020Application"
        android:allowBackup="true"
        android:icon="@mipmap/money_bag"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3f8855c91b3050d2be4d981807a975862ea2664a" />

        <activity
            android:name=".CampaignsActivity"
            android:label="@string/title_activity_campaigns"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".CreateCampaignActivity"
            android:label="@string/title_activity_create_campaign"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
